*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.box-game{
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    height: 200px;
    border: 1px solid black;
}
#character{
    width: 20px;
    height: 50px;
    background-color: red;
    position:relative;
    top: 150px;
}
.jump{
    animation: jump 0.3s linear;
}
@keyframes jump{
    0%{top: 150px;}
    25%{top: 100px;}
    50%{top: 100px;}
    75%{top: 100px;}
    100%{top: 150px;}
}

#block{
    background-color: blue;
    width: 20px;
    height: 20px;
    position: relative;
    top: 130px;
    left: 500px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left: 500px}
    100%{left: -20px}
}
p{
    text-align: center;
}